@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

//Media
$phone : "(max-width: 800px)";
$tablet: "(min-width: 801px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";








//Colors
$buttonColor: hsl(210, 100%, 85%);
$mainBackgroundColor: hsl(211, 100%, 95%);
$mainColor: rgba(66, 211, 255, 1);


// FONTS
$mainFonts: 'Piedra', cursive;
$logoFonts: 'Press Start 2P', cursive;