header{
  display: flex;
  flex-direction: column;

  .logoDecoration{
    color: $mainColor;
    font-family: $logoFonts;
  }
  .headerNav {
    display: flex;
  }
  @media #{$desktop}{
    height:  27rem;
    background-image: url("../Img/MainLogo.PNG");
    background-position:left;
    background-size: 66.5rem 100%;
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 97%);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    h1{
      font-size: 4.5rem;
      font-family: $logoFonts;
      margin-top: 6.75rem;
      //margin-right: rem;
    }
    .headerNav {
      display: flex;
      position: relative;
      align-items: flex-end;
      justify-content: flex-end;
      width: 70%;
      margin-bottom: 2rem;
      margin-right: 2.5rem;
    }
    .navigatorButton{
      font-size: 1.3rem;
      height: 4rem;
      &:hover {
        flex-grow: 2;
        box-shadow: 7px 6px 9px 2px $mainColor;
        color: $mainColor;
        cursor: pointer;
        transition: all 1.3s ease-Out;
      }
    }
    .burger_hamburger-box__3lYk7{
      display: none;
    }
  }

  @media #{$tablet}{
    height: 27vh;

    background-image: url("../Img/MainLogo.PNG");
    background-position:center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-end;
    h1{
      margin-top: 0.8rem;
      margin-right: 5rem;
      font-family: $logoFonts;
      font-size: 2rem;
    }
    .headerNav {
      display: flex;
      position: relative;
      align-items: flex-end;
      justify-content: flex-end;
      width: 55%;
      margin-bottom: 2rem;
      margin-right: 2.5rem;
    }
    .navigatorButton{
      font-size: 0.7rem;
      height: 3rem;
    }
  .burger_hamburger-box__3lYk7{
    display: none;
  }
  }

  @media #{$phone}{
    height: 27vh;
    z-index: 1;
    background-image: url("../Img/MainLogoMobile.PNG");
    background-position:center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    display: flex;

    h1{
      font-size: 1.05rem;
      font-family: $logoFonts;
      margin-bottom: 6%;
      margin-left: 3%;
      z-index: 2;


    }
    .headerNav{
      display: none;
    }
    .burger_hamburger__21cuQ{
      display: flex;
      margin-left: 3%;
      margin-top: 3%;
      z-index: 4;
    }
      .menu-warp{
        z-index: 3;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: darkgrey;
        display: flex;
        background-image: url("../Img/moblineNavi.png");
        background-position:center;
        background-size: 95% 95%;
        background-repeat: no-repeat;
        display: block;
        flex-direction: column-reverse;

      }
  }




}