@media #{$desktop}{
  .LoginNaviContainer {
    display: flex;
    flex-direction: row;
    width: 18vw;
    height: 1600px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,191,1) 0%, rgba(255,255,255,0.9962359943977591) 100%);

    .navigatorButton {

      transform: skewX(0deg);
      height: 1rem;
      margin-bottom: 2rem;
      border:0px;
      opacity: 0.7;
      background-color: white;
      color: black;
      border-radius: 10px;
      font-family: $naviFonts;
      font-size: 1rem;
      &:hover{
        opacity: 1;
        box-shadow: 7px 6px 9px 2px $mainColor;
        color: $mainColor;
        transition: all 1.45s ;
      }
      &:active{
        background-color: $mainColor;
        box-shadow: 7px 6px 9px 2px $mainColor;
        color: white;
      }

    }

    nav {
      margin-top: 1.3rem;
      margin-left: 1.3rem;
      display: flex;
      flex-direction: column;
      width: 7.5rem;
      height: 25rem;

    }
  }
}