@media #{$desktop}{
  .LoginNaviContainer {
    display: flex;
    flex-direction: row;
    width: 18vw;
    height: 1600px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,191,1) 0%, rgba(255,255,255,0.9962359943977591) 100%);

    .navigatorButton {

      transform: skewX(0deg);
      height: 1rem;
      margin-bottom: 2rem;
      border:0px;
      opacity: 0.7;
      background-color: white;
      color: black;
      border-radius: 10px;
      font-family: $naviFonts;
      font-size: 1rem;
      &:hover{
        opacity: 1;
        box-shadow: 7px 6px 9px 2px $mainColor;
        color: $mainColor;
        transition: all 1.45s ;
      }
      &:active{
        background-color: $mainColor;
        box-shadow: 7px 6px 9px 2px $mainColor;
        color: white;
      }

    }

    nav {
      margin-top: 1.3rem;
      margin-left: 1.3rem;
      display: flex;
      flex-direction: column;
      width: 7.5rem;
      height: 25rem;

    }
  }
}
@media #{$phone}{
  .LoginNaviContainer{
    .MyAccountNavi{
      display: none;
    }
    .MyFridgeNavi{
      display: none;
    }
    .ShoppingList{
      display: none;
    }
    .Recipes{
      display: none;
    }

  }
.LoginNavi {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $logoFonts;


  button{
    width: 90vw;
    height: 15vh;
    background-color: $naviColor;
    border-radius: 90px 100px 90px 100px;
    font-family: $logoFonts;
    margin-top: 2vh;
    color: wheat;
    font-size: 1rem;
  }
  .menu-warp{
    z-index: 3;
    width: 100vw;
    height: 90vh;
    position: absolute;
    background-color: white;

  }

    .LoginNaviContainer{
      height: 60vh;
  }}}
@media #{$tablet}{
  .menu-warp{
    display: none;
  }
  .LoginNaviContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.5rem;
    background-color:#003399 ;
  }
  .extend{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-right: 2vw;
    width: 40%;
    button{
      height: 2.5rem;
      flex-grow: 1;
      border: 1px;
      font-family: $naviFonts;
      font-size: 0.9rem;
      box-shadow: inset 0 -8px $mainColor;
      background-color: $naviButtonColor;

     &:first-child{
        border-radius: 20px 0 0 20px;
      }
      &:last-child{
        border-radius: 0 20px 20px 0;
      }
    }

  }
  .LoginNavi{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-left: 2vw;
    width: 40%;

    button {
      height: 2.5rem;
      flex-grow: 1;
      border: 1px;
      font-family: $naviFonts;
      font-size: 1rem;
      box-shadow: inset 0 8px $mainColor;
      background-color: $naviButtonColor;
      &:first-child {
        border-radius: 20px 0 0 20px;
      }
      &:last-child {
        border-radius: 0 20px 20px 0;
      }
    }
  }



}
