.mobileHeaderNav{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  .mobileNavigatorButton{
    font-size: 0.8rem;
    margin-left: -30vw;
    border: none;
    background-color: transparent;
    font-family: $logoFonts;
    &:first-child{
      margin-top: 1.5vh;
      height: 19vh;
      width: 45%;

    }
    &:last-child{
      margin-top: 11vh;
      height: 11vh;
      width: 45%;
    }
    &:nth-child(3){
      margin-top: 1.5vh;
      height: 9vh;
      width: 45%;
    }
    &:nth-child(2){
      margin-top: 1.5vh;
      height: 11vh;
      width: 45%;
    }
  }

}